/* reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* banner sedtion styling */
.banner {
  display: flex;
  padding-inline: 240px;
  background: rgba(229, 84, 115, 0.1);
}
.header-text-container {
  padding-block: 197px 147px;
}
.header-title {
  color: #272727;
  max-width: 708px;
  font-size: 80px;
  font-weight: 800;
}
.header-description {
  color: rgba(39, 39, 39, 0.6);
  max-width: 634px;
  font-size: 18px;
  line-height: 30px;
  padding-top: 32px;
  margin-left: 0px;
  text-align: left;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  margin-top: 32px;
}
.banner-img {
  padding-top: 50px;
  margin-left: 97px;
}

/* featured flower */
.featured-container {
  padding: 178px 240px 0px 240px;
}
.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
p {
  margin-inline: auto;
  line-height: 30px;
  max-width: 594px;
  text-align: center;
  margin-top: 24px;
}
.flex {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-top: 48px;
}
.flower {
  max-width: 464px;
  min-height: 538px;
  max-height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding: 110px 78px 0px 78px;
}
article h3 {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px; /* 145.833% */
  text-decoration-line: underline;
  margin-top: 32px;
}
.support-feature {
  display: flex;
  padding: 86px 175px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin-top: 128px;
  gap: 100px;
  justify-content: center;
}
.support-feature > div {
  text-align: center;
}
